#contact_modal {
  display: none;
}

body{
  font-family: 'DM Sans', sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.vsc-initialized {
  max-width: none;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.photograph-header img {
  border-radius: 50%;
  width: 16%;
  height: 66%;
  object-fit: cover;
}

.photograph-header-left h1 {
  color: #D3573C;
  font-weight: 400;
  font-size: 64px;
  line-height: 83px;
  margin-bottom: -20px;
  margin-top: 0;
}

.photograph-header-left h2 {
  color: #901C1C;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: -2px;
}

.photograph-header-left h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #525252;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover {
  background-color: #DB8876;
  color: #000000;
}

/* LES PHOTOS */
.diaporama-main {
  margin: 0 100px;
}

.diaporama-main-titre {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.diaporama-main-titre-et-menu {
  display: flex;
}

.diaporama-main-menu-seul {
  list-style-type: none;
  background-color: #901C1C;
  border: none;
  padding: 0%;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 25px;
}

.diaporama-main-menu {
  display: flex;
  list-style-type: none;
  background-color: #901C1C;
  border: none;
  padding: 0%;
  width: 170px;
  height: 170px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 25px;
  position: relative;
  visibility: hidden;
}

.diaporama-main-menu-seul li {
  margin-left: -35px;
  list-style-type: none;
}

.diaporama-main-menu li {
  margin-left: 20px;
}

.popularite-arrow {
  display: flex;
  justify-content: space-around;
}

.popularite-arrow i {
  color: #fff;
  margin-left: 20px;
  width: 20px;
}

.ligne {
  width: 145px;
  border: 0.5px solid #fff;
  margin-left: 12.5px;
}

.photo_et_sous-titres {
  margin-top: -85px;
}

#photosPhotographer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px 90px;
}

#photosPhotographer img {
  Width: 350px;
  Height: 300px;
  object-fit: cover;
}

#photosPhotographer video {
  Width: 350px;
  Height: 300px;
  object-fit: cover;
}

.miniature {
  width: 350px;
}

.sous-titre {
  display: flex;
  justify-content: space-between;
  color: #901C1C;
  font-size: 24px;
  margin: -30px 0;
}

.sous-titre h4 {
  font-weight: 400;
}

#titrePhoto {
  margin: 0%;
}

.likes_heart {
  display: flex;
  align-items: center;
}

#likesPhoto {
  margin: 0%;
}

.likes_heart i {
  margin-left: 12px;
}

.likes_heart i:hover {
  cursor: pointer;
  color: #DB8876;
}

.rectangle_box {
  position: fixed;
  display: flex;
  bottom: -10px;
  right: 12px;
  padding: 0px 30px;
}

.rectangle {
  width: 376px;
  height: 89px;
  border-radius: 5px;
  background-color: #DB8876;
}

.rectangle-texte {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  font-weight: 500;
}


/** Lightbox **/
.bgLightbox {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #fff;
}

#lightbox {
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

.contenu-lightbox {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  justify-content: center;
  margin: 50px 10%;
  width: 80%;
}
.fleche {
  color: #901C1C;
  cursor: pointer;
  font-size: 50px;
  position: absolute;
}
.fleche:hover {
  color: #901C1C;
}
#fleche-gauche {
  left: 100px;
}
#fleche-droite {
  right: 106px;
}

.fermer-lightbox {
  color: #901C1C;
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  right: 100px;
  top: 0;
}

#contenu-photo-lightbox img, video {
  display: block;
  margin: 0 auto;
  max-height: 800px;
  max-width: 1050px;
  object-fit: cover;
}

.photo-titre-lightbox {
  margin: auto;
  width: fit-content;
}
.photo-img,
.photo-video {
  display: none;
}
.lien-lightbox {
  display: block;
}

.titre-photo {
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #911C1C;
  margin-bottom: 15px;
  margin-top: 8px;
}


/* MODAL CONTACT */
.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgb(196, 196, 196, 0.4);
}

#contact_modal {
  position: relative;
}

.modal {  
  border-radius: 5px;
  background-color: #DB8876;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  width: 669px;
  height: 900px;
}

.modal header {
  justify-content: space-between;
  align-items: baseline;
  width: 600px;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  display: flex;
}

.titre-modal{
  margin-top: -15px;
}

form {
  display: flex;
  width: 600px;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 600px;
  height: 68px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

.inputMessage {
  Height: 170px;
}

.error {
  margin-top: 8px;
  left: 0%;
  right: 90.84%;
  top: 0%;
  bottom: 85.58%;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
}
